@import 'assets/colors.scss';

.box {
	&__message {
		display: flex;
		align-items: center;
		width: 100%;
	}

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	h2 {
		font-size: 2.1rem;
		padding-left: 2rem;
		margin-bottom: 0;
		justify-content: center;
	}

	h3 {
		font-size: 1.9rem;
		font-weight: 400;
		color: $color-blue;
	}
}

.details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 0.1rem solid $color-grey-3;
	padding-top: 2rem;

	img {
		width: 6rem;
		height: 7.2rem;
		margin-left: 1.6rem;
	}
}
