@import 'assets/colors.scss';
@import 'assets/mixins.scss';

.user-info {
	display: flex;
	flex-direction: column;
	font-size: 2.2rem;
	color: $color-dark;
	justify-content: flex-start;
	white-space: nowrap;

	span {
		color: $color-grey;
		font-size: 1.6rem;
	}
}

.user-score {
	display: flex;
	flex-direction: row;

	.emblem {
		margin-right: 2rem;
	}

	.progress-bar {
		@include progress-bar;
	}
}

.device-info {
	@include device-info;
}
