@import 'assets/colors.scss';
@import 'assets/mixins.scss';

.user-score {
	display: flex;
	flex-direction: row;

	.emblem {
		margin-right: 2rem;
	}

	.progress-bar {
		@include progress-bar;
	}
}

.user-skill {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;

	img {
		max-width: 4.8rem;
		max-height: 4.8rem;
		margin-right: 2.9rem;
	}
}
