@import 'assets/colors.scss';
@import 'assets/variables.scss';
@import 'assets/mixins.scss';

.modal {
	max-width: 29rem;
	max-height: 31.1em;

	p {
		max-width: 14.2rem;
		color: $color-grey;
		text-align: left;
		font-size: 1.6rem;
		text-transform: uppercase;
		margin-bottom: 4.8rem;
	}

	&__input {
		padding-right: 1rem;
	}

	& > div {
		& > div:last-of-type {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			& > button {
				height: 4.2rem;
				width: 10.5rem;
				border-radius: 0.8rem;
			}

			& > button:first-of-type {
				background: $color-grey-4 0% 0% no-repeat padding-box;
				margin-right: 2.2rem;
			}

			& > button:last-of-type {
				background: $color-blue 0% 0% no-repeat padding-box;
			}
		}
	}
}

.checkmark,
.backIcon {
	width: 2rem;
	height: 2rem;
	margin-right: 1.2rem;
}

.numbers-container {
	display: flex;
	flex-wrap: wrap;
	color: $color-grey;
	margin-right: -1rem;

	&__box {
		cursor: pointer;
		border: 0.1rem solid $color-grey-3;
		border-radius: 0.8rem;
		font-size: 3.2rem;
		width: 4.2rem;
		height: 4.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

.colors-container {
	display: flex;
	flex-wrap: wrap;

	&__box {
		cursor: pointer;
		width: 4.2rem;
		height: 4.2rem;
		border-radius: 0.8rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}
