@import 'assets/colors.scss';
@import 'assets/variables.scss';
@import 'assets/mixins.scss';

.box {
	@include accountBox;

	h3 {
		white-space: nowrap;
	}

	button {
		@include Button-1;
	}
}

.confirmation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	.thumb-up {
		width: 6rem;
		height: 6.5rem;
		fill: $color-success;
	}

	span {
		color: $color-success;
		justify-self: flex-start;
		font-size: 2rem;
		font-weight: 500;
	}

	p {
		margin-top: 1.5rem;
		color: $color-dark;
		font-size: 1.6rem;
		font-weight: 400;
	}
}

.redirect-container {
	font-size: 1.4rem;
	margin-top: auto;
	margin-bottom: 1rem;
	text-align: center;
	color: $color-grey;
}
