@import 'assets/colors.scss';

.box {
	color: $color-black;
	margin: 0 auto;
	width: 100%;
	height: 100%;

	table {
		thead {
			tr {
				th {
					letter-spacing: 0.1rem;
					font-weight: 600;
					font-size: 1.2rem;
				}
			}
		}

		tr {
			font-size: 1.6rem;
			color: $color-dark;
		}

		tr:nth-child(2n) td {
			background-color: $color-grey-5;
		}
	}
}

.dropdown {
	img {
		width: 3rem;
	}
}
